#background {
    background-color: #000;
    /* background-image: url(../images/music5.jpg); */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), color-stop(rgba(0, 0, 0, 0.35)),  color-stop(rgba(0, 0, 0, 0.45)),  
     color-stop(rgba(0, 0, 0, 0.55)), color-stop(rgba(0, 0, 0, 0.65)), color-stop(rgba(0, 0, 0, 0.75)),
      color-stop(rgba(0, 0, 0, 0.55)),color-stop(rgba(0, 0, 0, 0.45)), color-stop(rgba(0, 0, 0, 0.35)),to(rgba(0, 0, 0, 0.25)) ),
       url(../images/music5.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35),  rgba(0, 0, 0, 0.45),  
     rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.25) ),
       url(../images/music5.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}
#loginContainer * {
	color: whitesmoke;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(70, 70, 70, 0.6);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(70, 70, 70, 0.6);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(70, 70, 70, 0.6);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(70, 70, 70, 0.6);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgba(70, 70, 70, 0.6);
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: right;
    border-left: 1px solid whitesmoke;
}

#inputContainer h2 {
    text-align: center;
    color: wheat;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
    color: whitesmoke;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}


#inputContainer button {
    background-color: transparent;
    border: 2px solid rgba(179, 27, 166, 0.986);
    border-radius: 250px;
    color: whitesmoke;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}
#inputContainer button:hover {
    cursor: pointer;
    background-color: #B11DA5;
    border-color: #B11DA5;
}

.hasAccountText span {
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}
.hasAccountText{
    text-align: center;
}

#registerForm,
#loginForm {
    display: none;
}

#loginText {
    padding: 45px;
    display: table-cell;
}
#hideRegister,
#hideLogin {
    color: wheat;
}

#loginText h1 {
    color: wheat;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
}
#loginText ul {
    padding: 0;
}

#loginText li{
    font-size: 20px;
    list-style-type: none;
    padding: 20px 70px; 
    background: url(../images/checkmark3.png) no-repeat;
}

#inputContainer .errorMessage {
    color: red;
    font-size: 15px;
    display: block;
    font-weight: bold;
}